$scrollColor:rgb(236,158,35);
$scrollInactiveColor:rgb(219, 219, 219);
$greenBack:#414749;
$navBackClr:#1d1e22;
#timeline{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .active{
        display: grid;
        animation: 0.5s ease 0s forwards 1 pulse;
        border-color: $scrollColor  !important;
    }
    .icon{
        box-sizing: border-box;
        display: grid;
        z-index: 2;
        justify-items:center;
        align-items: center;
        grid-column: 2/3;
        margin-top:2.5vh;
        width: 50px;
        height: 50px;
        border: solid 5px $scrollInactiveColor;
        border-radius: 50px;
        background-color: #0D749F;  
        transition: 0.3s ease ; 
             
        svg{
        width:30px;
        height:30px;
        fill:#ffffff;
        
        }
        @keyframes pulse {
            0% {
              transform: scale(1,1);
            }
            50% {
              transform: scale(1.3,1.3);
            }
            100% {
              transform: scale(1,1);
            }
          }
    }
    #icn1{
        grid-row: 1/2;
        //animation: 2s ease 0s forwards 1 pulse;
    }
    #icn2{
        grid-row: 2/3;
    }
    #icn3{
        grid-row: 3/4;
    }
    #icn4{
        grid-row: 4/5;
    }
    #icn5{
        grid-row: 5/6;
    }
    #icn6{
        grid-row: 6/7;
    }
    #icn7{
        grid-row: 7/8;
    }
}
#scroll{
    grid-row:1/8;
    grid-column: 2/3;
    justify-self:center;
    content: '';
    width: 10px;
    margin-top:5vh;
    //max-height: 90%;
    background-color: $scrollInactiveColor;
}
#scrollbar{
    grid-row:1/8;
    grid-column: 2/3;
    justify-self:center;
    position:relative;
    margin-top:5vh;
    width: 10px;
    background-color: $scrollColor;
    //max-height: 80%;
    overflow:hidden;
    border-radius: 10px;
 
}
.bx{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    min-height:20vh;
    background-color: $greenBack;
    justify-content:flex-start;
    width: 70%;
    font-size: 18px;
    position: relative;
    h2{
        font-size: 30px;
        margin: 5px 7px;
    }
    h3{
        color: #0D749F;
        font-size:20px ;
    }
    
}
.bx:nth-child(odd){
    justify-self:end;
    &:before {
        content: ' ';
        align-self:flex-end;
		position: relative;
		left:34px;
        top: 10px;
		border: 7px solid transparent;
		border-left: 7px solid $greenBack;
    }
}
.bx:nth-child(even){
    &:before {
		content: ' ';
        align-self: baseline;
		position: relative;
		right:34px;
        top: 10px;
		border: 7px solid transparent;
		border-right: 7px solid $greenBack;
	}
}
.dte{
    justify-self:start;
    align-self: start;
    margin-top:25px;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.dte:nth-child(even){
    justify-self: end;
    
}
#box1{
    grid-row:1/2;
    grid-column: 1/2;
}
#box2{
    grid-row:2/3;
    grid-column: 3/4;
}
#box3{
    grid-row:3/4;
    grid-column: 1/2;
}
#box4{
    grid-row:4/5;
    grid-column: 3/4;
}
#box5{
    grid-row:5/6;
    grid-column: 1/2;
}
#box6{
    grid-row:6/7;
    grid-column: 3/4;
}
#box7{
    grid-row:7/8;
    grid-column: 1/2;
}
@media (max-width: 768px) {//tablet view
    #timeline{
        grid-template-columns: 50px 1fr;
        grid-gap: 10px;

        #scroll {
            grid-column: 1/2;
        }
        #scrollbar{
            grid-column: 1/2;
        }
        .icon{
            grid-column: 1/2;
        }
        .bx{
            grid-column: 2/3;
            padding-bottom: 50px;
            width: 100%;
        }
        .bx:nth-child(even){
            justify-self:start;
            &::before {
                content: '';
                align-self: flex-start;
                position: relative;
                right: 34px !important;
                left: auto;
                border: 7px solid transparent;
                border-right: 7px solid $greenBack;    
            }
        }
        .dte{
            align-self:flex-end ;
            margin-bottom: 20px;
            margin-left: 20px;
            grid-column: 2/3; 
            font-size:19px;
        }
        .dte:nth-child(even){
            justify-self: start;
            
        }
        #D1{
            grid-row: 1/2;
        }
        #D2{
            grid-row: 2/3;
        }
        #D3{
            grid-row: 3/4;
        }
        #D4{
            grid-row: 4/5;
        }
        #D5{
            grid-row: 5/6;
        }
        #D6{
            grid-row: 6/7;
        }
        #D7{
            grid-row: 7/8;
        }
    }
}